<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles overview</title>
    <!-- Styling datatables -->
    <link rel="stylesheet" th:href="@{/css/datatables.css}">
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>
    <!--    Datatable -->
    <div th:include="fragments/header::dataTableJquery"/>
    <script type="text/javascript" class="init">
    $(document).ready(function()
    {
        $("#articlesOverview").dataTable({
           "aoColumnDefs": [
              { 'bSortable': false, 'aTargets': [ 4,5 ] }
           ]
        });
    });

    </script>

</head>
<body>
<!--Navbar component-->
<div th:include="fragments/header::navbar"/>

<div align="center" style="margin: 100px">
    <h1>Articles</h1>
    <div th:include="fragments/header::errorMessaging"/>
    <div align="center" style="mb-3" sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
        <a th:href="@{/new/article}" class="btn btn-primary btn-lg" style="margin:20px">New Article</a>
    </div>

    <table class="table table-striped table-hover dataTable" id="articlesOverview">
        <thead>
        <!--        <th scope="col" >Id</th>-->
        <th scope="col">Name</th>
        <th scope="col">Abbreviation</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Barcode</th>
        <th scope="col"></th>
        <th scope="col"></th>
        </thead>
        <tbody>
        <tr th:each="article: ${articlesList}">
            <!--            <td th:text="${article.articleId}" ></td>-->
            <td th:text="${article.articleName}"></td>
            <td th:text="${article.articleAbbreviation}"></td>
            <td th:text="${article.articleDescription}"></td>
            <td th:text="${article.category.categoryName}"></td>
            <td th:text="${article.articleBarcode}"></td>
            <td>
                <a th:href="@{'/edit/article/' + ${article.articleId}}" class="btn btn-outline-primary"
                   sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>
            </td>
            <td>
                <a th:href="@{'/delete/article/' + ${article.articleId}}" class="btn btn-outline-danger"
                   sec:authorize="hasAuthority('ADMIN')">
                    <i class="bi bi-trash"></i> Delete
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</div>


<!-- Modal -->
<!--<div class="modal fade" id="newArticleModal" tabindex="-1">-->
<!--    <div class="modal-dialog">-->
<!--        <div class="modal-content">-->

<!--            <div class="modal-header">-->
<!--                <h5 class="modal-title">New article</h5>-->
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>-->
<!--            </div>-->

<!--            <div class="modal-body">-->
<!--                <form th:object="${article}" th:action="@{/saveArticle}" , method="POST">-->
<!--                    <div class="mb-3 form-group">-->
<!--                        <input type="hidden" th:field="*{articleId}" th:value="${article.articleId}"-->
<!--                               class="form-control">-->

<!--                        <label for="newArticleName" class="form-label">Name</label>-->
<!--                        <input type="text" th:field="*{articleName}" class="form-control" id="newArticleName">-->
<!--                    </div>-->
<!--                    <div class="mb-3 form-group">-->
<!--                        <label for="newArticleDescription" class="form-label">Description</label>-->
<!--                        <textarea class="form-control" th:field=*{articleDescription} rows="4" id="newArticleDescription"></textarea>-->
<!--                    </div>-->

<!--                    <div class="mb-3 form-group">-->
<!--                        <label for="newArticleCategory" class="form-label">Category</label>-->
<!--                        <select th:field="*{category}" class="form-control" id="newArticleCategory">-->
<!--                            <th:block th:each="category : ${categoriesList}">-->
<!--                                <option th:text="${category.categoryName}" th:value="${category.categoryId}">-->
<!--                            </th:block>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <div class="mb-3 form-group">-->
<!--                        <label for="newArticleSupplier" class="form-label">Supplier</label>-->
<!--                        <select th:field="*{supplier}" class="form-control" id="newArticleSupplier">-->
<!--                            <th:block th:each="supplier : ${suppliersList}">-->
<!--                                <option th:text="${supplier.supplierName}" th:value="${supplier.supplierId}">-->
<!--                            </th:block>-->
<!--                        </select>-->
<!--                    </div>-->

<!--                    <button type="submit" class="btn btn-primary" >Submit</button>-->
<!--                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>-->

<!--                </form>-->

<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div th:include="fragments/header::Jquery"/>

</body>
</html>