<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>

    <!--    Datatable -->
    <div th:include="fragments/header::dataTableJquery"/>
    <script type="text/javascript" class="init">
    $(document).ready(function()
    {
        $("#categoriesOverview").dataTable({
           "aoColumnDefs": [
              { 'bSortable': false, 'aTargets': [ 1,2 ] }
           ]
        });
    });</script>

</head>
<body>
<!--Navbar component-->
<div th:include="fragments/header::navbar"/>
<link rel="stylesheet" href="static/css/style.css">


<div align="center" style="margin: 100px" sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
    <h1>Categories</h1>
    <div th:include="fragments/header::errorMessaging"/>
    <a th:href = "@{/new/category}" class="btn btn-primary btn-lg" style="margin:20px"
    >New category</a>

    <table class="table table-striped table-hover dataTable" style="margin:20px" id="categoriesOverview">
        <thead>
        <tr>
            <th class="col-5">Name</th>
            <th class="col-5">Abbreviation</th>
            <th class="col-2">Actions</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="category : ${categoriesList}">
            <td class="col-5" th:text="${category.categoryName}"></td>
            <td class="col-5" th:text="${category.categoryAbbreviation}"></td>

            <td class="col-2" >

                <a th:href="@{'/edit/category/' + ${category.categoryId}}" class="btn btn-outline-primary"
                   sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                    <i class="bi bi-pencil-square"></i> Edit
                </a>

                <a th:href="@{'/delete/category/' + ${category.categoryId}}" class="btn btn-outline-danger"
                   sec:authorize="hasAuthority('ADMIN')">
                    <i class="bi bi-trash"></i> Delete
                </a>

            </td>

        </tr>
        </tbody>
    </table>
</div>

<div th:include="fragments/header::Jquery"/>



</div>
</body>
</html>