<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>

    <!--    Datatable -->
    <div th:include="fragments/header::dataTableJquery"/>
    <script type="text/javascript" class="init">
    $(document).ready(function()
    {
        $("#countriesOverview").dataTable({
           "order": [ 0, 'asc' ]
        });
    });</script>
    <style th:include="fragments/header::background"></style>
</head>
<body>
<!--Navbar component-->
<div th:include="fragments/header::navbar"/>
<link rel="stylesheet" href="static/css/style.css">


<div align="center" style="margin: 100px" sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">

    <div align="left">
        <a th:href="@{/home}" class="btn btn-outline-secondary btn-sm" style="margin:20px">Home page</a>
    </div>

    <h1>Countries</h1>
    <div th:include="fragments/header::errorMessaging"/>

    <table class="table table-striped table-hover dataTable" style="margin:20px" id="countriesOverview">
        <thead>
        <tr>
            <th class="col-5">Name</th>
            <th class="col-5">ISO</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="country : ${countriesList}">
            <td class="col-3" th:text="${country.countryName}"></td>
            <td class="col-3" th:text="${country.iso}"></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:include="fragments/header::Jquery"/>



</div>
</body>
</html>