<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <title>New Article_Supplier</title>
</head>
<body>
<div align="center" style="margin: 100px">




    <form action="#" th:action="@{/saveArticleSupplier}" th:object="${article_supplier}", method="POST" >

        <select th:field="*{supplier}" class="form-select" aria-label="Default select example">
            <th:block th:each="supplier : ${supplierList}">
                <option th:text="${supplier.supplierName}" th:value="${supplier.supplierId}">
            </th:block>
        </select>

        <select th:field="*{article}" class="form-select" aria-label="Default select example">
            <th:block th:each="article : ${articleList}">
                <option th:text="${article.articleName}" th:value="${article.articleId}">
            </th:block>
        </select>

        <input th:field="*{price}"  type="text"  placeholder="Price" class="form-control">


        <button type="submit" class="btn btn-info">Save</button>


    </form>
</div>

</body>
</html>