<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Articles overview</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <!--    Bootstrap icons -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">


</head>
<header>
</header>
<body>
<!--Navbar component-->
<section>
    <div th:include="fragments/header::navbar"/>
</section>


<!--Showcase-->
<section class="bg-dark text-light pt-5 p-1 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div><h1>Welcome <span sec:authentication="name" class="text-warning">Username</span> to your inventory manager!
            </h1>
                <p class="lead my-4">
                    <!--                Below you can find the various features you can access to manage and streamline your inventory.-->
                    Want to know more about each feature, have a look at our documentation section.
                </p>
                <a class="btn btn-primary btn-lg" role="button" href="https://support.google.com/?hl=en"> Open documentation</a>
            </div>
            <img class="img-fluid w-25 d-none d-sm-block" th:src="@{/img/BusinessPeople.svg}" alt="Image missing..."/>
        </div>
    </div>
</section>

<!--Boxes-->
<section class="bg-secondary bg-gradient" >
    <div class="container">
        <div class="row text-center">
            <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-bag"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Articles
                            </h3>
                            <p class="card-text">
                                Articles overview
                            </p>
                            <a th:href="@{/articles}" class="btn btn-primary"> Open articles</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-collection"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Categories
                            </h3>
                            <p class="card-text">
                                Categories overview
                            </p>
                            <a th:href="@{/category}" class="btn btn-primary"> Open categories</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-boxes"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Inventory
                            </h3>
                            <p class="card-text">
                                Inventory overview
                            </p>
                            <a th:href="@{/stock}" class="btn btn-primary"> Open inventory</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-truck"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Suppliers
                            </h3>
                            <p class="card-text">
                                Suppliers overview
                            </p>
                            <a th:href="@{/supplier}" class="btn btn-primary"> Open suppliers</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-box-seam"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Articles supplier
                            </h3>
                            <p class="card-text">
                                Articles supplier overview
                            </p>
                            <a th:href="@{/article_supplier}" class="btn btn-primary"> Open articles supplier</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-shop"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Warehouses
                            </h3>
                            <p class="card-text">
                                Warehouses overview
                            </p>
                            <a th:href="@{/warehouse}" class="btn btn-primary"> Open warehouses</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-compass"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Locations
                            </h3>
                            <p class="card-text">
                                Locations overview
                            </p>
                            <a th:href="@{/location}" class="btn btn-primary"> Open locations</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-people"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Employees
                            </h3>
                            <p class="card-text">
                                Employees overview
                            </p>
                            <a th:href="@{/users}" class="btn btn-primary"> Open employees</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-signpost-2"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Mutations
                            </h3>
                            <p class="card-text">
                                Inventory mutations
                            </p>
                            <a th:href="@{/mutation}" class="btn btn-primary"> Open mutations</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-card-list"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Orders
                            </h3>
                            <p class="card-text">
                                Orders overview
                            </p>
                            <a th:href="@{/orderSupplier}" class="btn btn-primary"> Open orders</a>
                        </div>
                    </div>
                </div>

                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-card-list"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Receive Orders
                            </h3>
                            <p class="card-text">
                                Receive Orders
                            </p>
                            <a th:href="@{/orderReceived}" class="btn btn-primary"> Receive Orders</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
            </a>
            <span class="text">© 2022 Eindproject Java 2</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-muted" href="#">
                    <svg class="bi bi-signpost-2" width="24" height="24">
                        <use xlink:href="#twitter"></use>
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-muted" href="#">
                    <svg class="bi bi-signpost-2" width="24" height="24">
                        <use xlink:href="#instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="ms-3"><a class="text-muted" href="#"><svg class="bi bi-signpost-2" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
        </ul>
    </footer>
</section>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>