<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Stock</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>

<div th:include="fragments/header::navbar"/>

<div align="center" style="margin: 100px">

<div th:if="${stock.stockId == null}">
    <h1>New Iventory</h1>
</div>
<div th:unless="${stock.stockId == null}">
    <h1>Edit Stock</h1>
</div>




<div class="container">

    <form  th:action="@{/saveStock}" th:object="${stock}", method="post">
        <input type="hidden" th:field="*{stockId}" th:value="${stock.stockId}" class="form-control"/>
<!--        <input type="text" th:field="*{stockId}" placeholder="StockID" class="form-control">-->
<!--        <input type="text" th:field="*{locationId}" placeholder="LocationId" class="form-control">-->

        <select class="form-control"  id="location" name="location" th:field="*{location}">
            <option value="">Location</option>

            <th:block th:each="location : ${locationList}">
                <option th:value="${location.locationId}"
                        th:text="${location.locationName}"
                ></option>
            </th:block>
        </select>

        <select class="form-control"  id="article" name="article" th:field="*{article}">
            <option value="">Article</option>

            <th:block th:each="article : ${articleList}">
                <option th:value="${article.articleId}"
                        th:text="${article.articleName}"
                ></option>
            </th:block>
        </select>

        <input type="text" th:field="*{amount}" placeholder="Amount" class="form-control">

        <button type="submit" class="btn btn-info">Save</button>
    </form>



</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>