<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Warehouses</title>

    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>

    <!--    Datatable -->
    <div th:include="fragments/header::dataTableJquery"/>
    <script type="text/javascript" class="init">
    $(document).ready(function()
    {
        $("#warehousesOverview").dataTable({
           "aoColumnDefs": [
              { 'bSortable': false, 'aTargets': [ 1 ] }
           ]
        });
    });</script>

</head>
<body>
<div th:include="fragments/header::navbar"/>

<div align="center" style="margin: 100px">

    <div align="left">
        <a th:href="@{/home}" class="btn btn-outline-secondary btn-sm" style="margin:20px">Home page</a>
    </div>

    <h1>Warehouses</h1>
    <div th:include="fragments/header::errorMessaging"/>
    <div align="center" style="mb-3" sec:authorize="hasAnyAuthority('CREATOR', 'ADMIN')">
        <a th:href="@{/new/warehouse}" class="btn btn-primary btn-lg" style="margin:20px">New warehouse</a>
    </div>


    <table class="table table-striped table-hover" id="warehousesOverview">
        <thead>
<!--        <th scope="col">Id</th>-->
        <
        <th class="col-6">Name</th>
        <th class="col-2">Actions</th>

        </thead>
        <tbody>
        <tr th:each="warehouse : ${listWarehouses}">
<!--            <td th:text="${warehouse.warehouseId}"></td>-->

            <td th:text="${warehouse.warehouseName}"></td>
            <td><a th:href="@{'/edit/warehouse/' + ${warehouse.warehouseId}}" class="btn btn-outline-primary"
                   sec:authorize="hasAnyAuthority('ADMIN', 'EDITOR')">
                <i class="bi bi-pencil-square"></i> Edit
            </a>
                <a th:href="@{'/delete/warehouse/' + ${warehouse.warehouseId}}" class="btn btn-outline-danger"
                   sec:authorize="hasAuthority('ADMIN')">
                    <i class="bi bi-trash"></i> Delete
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div th:include="fragments/header::Jquery"/>
</body>
</html>