<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>
    <title>New Stock</title>
</head>
<body>
<!--Navbar component-->
<div th:include="fragments/header::navbar"/>


<div align="center" style="margin: 100px">

    <div align="left">
        <a th:href="@{/stock}" class="btn btn-outline-secondary btn-sm" style="margin:20px">Back to overview</a>
    </div>

    <div th:if="${stock.stockId == null}">
        <h1>New stock</h1>
    </div>
    <div th:unless="${stock.stockId == null}">
        <h1>Edit Stock</h1>
    </div>
    <div th:include="fragments/header::errorMessaging"/>


        <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <div class="mb-3 form-group text-start">
                    <input type="hidden" th:field="*{stockId}" th:value="${stock.stockId}" class="form-control"/>
                    <!--        <input type="text" th:field="*{stockId}" placeholder="StockID" class="form-control">-->
                    <!--        <input type="text" th:field="*{locationId}" placeholder="LocationId" class="form-control">-->

                    <div class="row">
                        <div class="col-xl-11" id="category">
                            <div class="mb-3 form-group text-start">
                                <label class="form-label fw-bold"> Article </label>
                                <input disabled th:value="${stock.article.articleName}" class="form-control"/>
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <a th:href="@{/category}" class="btn btn-outline-primary">
                                <i class="bi bi-collection"></i></a>
                        </div>
                    </div>

                    <div class="mb-3 form-group text-start">
                        <label class="form-label fw-bold"> Amount</label>
                        <input type="text" th:field="*{amount}" placeholder="Amount" class="form-control" required>
                    </div>
                    <div class="mb-3 form-group text-start">
                        <label class="form-label fw-bold"> Location</label>
                        <select class="form-control" id="location" name="location" th:field="*{location}" required>
                            <option value="" selected="selected" hidden="hidden">Choose the location..</option>
                            <option th:each="location : ${locationList}"
                                    th:value="${location.locationId}"
                                    th:text="${location.locationName}"></option>
                        </select>
                    </div>
                </div>
                <!--<div class="mb-3 form-group text-start">
                    <label class="form-label fw-bold"> Article</label>
                    <select class="form-control" id="article" name="article" th:field="*{article}" required>
                        <option value="" selected="selected" hidden="hidden">Choose the article..</option>
                        <option th:each="article : ${articleList}"
                                th:value="${article.articleId}"
                                th:text="${article.articleName}"></option>
                    </select>
                </div>-->


            </div>

        </div>


</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:include="fragments/header::Jquery"/>
</body>
</html>