<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>
    <!--    Datatable -->
    <div th:include="fragments/header::dataTableJquery"/>
    <script type="text/javascript" class="init">$(document).ready(function() {	$('#locationsOnWarehouseOverview').DataTable();} );</script>

    <meta charset="UTF-8">
    <style th:include="fragments/header::background"></style>
    <title>Warehouses</title>
</head>
<body>

<div th:include="fragments/header::navbar"/>

<div align="center" style="margin: 100px">

    <div align="left">
        <a th:href="@{/warehouse}" class="btn btn-outline-secondary btn-sm" style="margin:20px">Back to overview</a>
    </div>

    <div class="container text-center">

        <div th:if="${warehouse.warehouseId == null}">
            <h1>New warehouse</h1>
        </div>
        <div th:unless="${warehouse.warehouseId == null}">
            <h1>Edit warehouse</h1>
        </div>
        <div th:include="fragments/header::errorMessaging"/>

        <form th:action="@{/warehouse/save}" th:object="${warehouse}" method="post">
            <div class="row h-100 d-flex align-items-center justify-content-center">
                <div class="mb-3 form-group text-start col-xl-3">
                    <input type="hidden" th:field="*{warehouseId}" th:value="${warehouse.warehouseId}"
                           class="form-control"/>
                    <label class="form-label fw-bold"> Name</label>
                    <input type="text" placeholder="Name warehouse" th:field="*{warehouseName}" class="form-control"
                           required/>
                </div>
                <div class="mb-3 form-group text-center" >
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="bi bi-save"></i> Save
                    </button>
                </div>
            </div>

        </form>
    </div>
    <div th:if="${warehouse.warehouseId != null}" class="h-100 d-flex align-items-center justify-content-center">
        <div class="row">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h1 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            View locations of warehouse
                        </button>
                    </h1>
                    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <table class="table table-striped table-hover dataTable" id="locationsOnWarehouseOverview">
                                <thead>
                                <th scope="col" class="sorting">Name</th>
                                <th scope="col" class="sorting">Location type</th>
                                </thead>
                                <tbody>
                                <tr th:each="location: ${locationsInWarehouse}">
                                    <!--                    <td th:text="${articleSupplier.articleSupplierId}" class="sorting_1"></td>-->
                                    <td th:text="${location.locationName}" class="sorting_1"></td>
                                    <td th:text="${location.locationType.name}" class="sorting_1"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:include="fragments/header::Jquery"/>
</body>
</html>