<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>
</head>
<body>
    <div th:include="fragments/header::navbar"/>
    <div align="center" style="margin: 100px;">

    <h1>Order</h1>
    <div>
        <form th:action="@{/SaveOrderHeadSupplier}"  th:object="${OrderSupplierHeader}", method="POST"    style="margin:20px">
            <div>
                <div class="row">

                    <div class="col-md-1">
                        <label>Supplier</label>
                    </div>
                    <div class="col-md-5">
                        <select  th:field="*{supplier}" class="form-select" aria-label="Default select example">
                            <th:block  th:each="supplier : ${suppliersList}">
                                <option  th:value="${supplier.supplierId}" th:text="${supplier.supplierName}" ></option>
                            </th:block>

                        </select>
                    </div>
                    <div class="col-md-1">
                        <label>Order nr°</label>

                    </div>
                    <div class="col-md-5">
                        <input th:value="${OrderSupplierHeader.orderNumber}"type="text" placeholder="Order nr°" id="orderNumber" disabled class="form-control">
                    </div>
                </div>


            </div>
            <div>
                <div class="row">
                    <div class="col-md-1">
                        <label>Date of order:</label>
                    </div>
                    <div class="col-md-5">
                        <input th:field="*{dateOfOrder}"type="date" placeholder="Order open"  class="form-control" required>

                    </div>
                    <div class="col-md-1">
                        <label>Order State:</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" disabled placeholder="Order open"  class="form-control">

                    </div>
                    <div class="col">
                    </div>
                </div>
                <div style="margin:10px">
                    <button class="btn btn-primary "  type="submit" id="saveOrderHeader" th:onclick="EnableDisableSaveHeader()">Save header</button>
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover" style="margin:20px">
            <thead>
            <tr>
                <th>Article</th>
                <th>Quantity</th>
                <th>Date of Delivery</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <form>
                    <td class="col-md-3">
                        <select class="form-select" aria-label="Default select example" style="width:50%">
                            <option>iPhone 12</option>
                            <option>iPhone 13</option>
                        </select>
                    </td>
                    <td class="col-md-3"><input type="number" placeholder="qty°" class="form-control" style="width:50%">
                    </td>
                    <td class="col-md-4"><input type="date" placeholder="dd/mm/yy"  class="form-control"></td>
                    <td></td>
                    <td class="col-md-1"><button type="button" class="btn btn-success btn-sm">Save</button></td>
                    <td class="col-md-1"><button type="button" class="btn-close"></button></td>
                </form>
            </tr>
            </tbody>
        </table>

        <table class="table table-striped table-hover" style="margin:20px">
            <thead>
                <tr>
                    <th class="col-md-1">Line</th>
                    <th class="col-md-2">Article</th>
                    <th class="col-md-3">Quantity</th>
                    <th class="col-md-4">Date of Delivery</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-1">1</td>
                    <td class="col-md-2">iPhone12</td>
                    <td class="col-md-3">5</td>
                    <td class="col-md-4">11/3/2022</td>
                    <td class="col-md-1"><button type="button" class="btn btn-success btn-sm">Edit</button></td>
                    <td class="col-md-1"><button type="button" class="btn-close"></button>
                </tr>
                <tr>
                    <td class="col-md-1">1</td>
                    <td class="col-md-2">iPhone12</td>
                    <td class="col-md-3">5</td>
                    <td class="col-md-4">11/3/2022</td>
                    <td class="col-md-1"><button type="button" class="btn btn-success btn-sm">Edit</button></td>
                    <td class="col-md-1"><button type="button" class="btn-close"></button>
                </tr>
            </tbody>
        </table>
        <div align="right">
            <button class="btn btn-primary btn-lg">CLOSE ORDER</button>
        </div>
    </div>
</div>

    <script type="text/javascript" th:src="@{/js/Orders.js}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <div th:include="fragments/header::Jquery"/>
</body>
</html>