<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>
    <div th:include="fragments/header::dataTableJquery"/>
    <script type="text/javascript" class="init">
    $(document).ready(function()
    {
        $("#articlesOverview").dataTable({
           "aoColumnDefs": [
              { 'bSortable': false, 'aTargets': [ 4,5 ] }
           ]
        });

<!--        $("#location").change(function(){-->
<!--        $('#articlesOverview td:nth-child(9)').html($("#location option:selected").val());-->
<!--        });-->

    });
    </script>
    <style th:include="fragments/header::background"></style>
</head>
<body>
<div th:include="fragments/header::navbar"/>

<div align="center" style="margin: 100px;">
    
    <div align="left">
        <a th:href="@{/orderReceived}" class="btn btn-outline-secondary btn-sm" style="margin:20px">Back to overview</a>
    </div>
    <h1>Order</h1>
    <div th:include="fragments/header::errorMessaging"/>
    <div>
        <form method="GET" style="margin:20px">
            <div>
                <div class="row">
                    <div class="col-md-1">
                        <label>Supplier</label>
                    </div>
                    <div class="col-md-5">
                        <input th:value="${orderheader.supplier.supplierName}" disabled type="text"
                               placeholder="Supplier" class="form-control">
                    </div>
                    <div class="col-md-1">
                        <label>Date of order</label>
                    </div>
                    <div class="col-md-5">
                        <input th:value="${orderheader.dateOfOrder}" type="text" disabled placeholder="Order date"
                               class="form-control">
                    </div>

                    <div class="col-md-1">
                        <label>Order Number</label>
                    </div>
                    <div class="col-md-5">
                        <input th:value="${orderheader.orderNumber}" type="text" disabled placeholder="Order number"
                               class="form-control">
                    </div>

                    <!--                    <div class="col-md-1">-->
                    <!--                        <label>Stock Locations</label>-->
                    <!--                    </div>-->
                    <!--                    <div class="col-md-5">-->
                    <!--                        <select class="form-control" id="location" name="location" required>-->
                    <!--                            <option value="" selected="selected" hidden="hidden">Choose the location..</option>-->
                    <!--                            <option th:each="location : ${locationList}"-->
                    <!--                                    th:value="${location.locationId}"-->
                    <!--                                    th:text="${location.locationName}"></option>-->
                    <!--                        </select>-->
                    <!--                    </div>-->
                </div>
            </div>
        </form>

        <table class="table table-striped table-hover dataTable" style="margin:20px" id="articlesOverview">
            <thead>
            <tr>
                <th class="col-md-1">Line</th>
                <th class="col-md-2">Article</th>
                <th class="col-md-1">Expected Quantity</th>
                <th class="col-md-1">Delta Quantity</th>
                <th class="col-md-1">Received Quantity</th>
                <th class="col-md-2">Location</th>
                <th class="col-md-1"></th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="orderReceivedDetail : ${orderLines}">
                <form action="#" th:action="@{'/saveReceive/'+${orderReceivedDetail.orderSupplierDetailId}}"
                      th:object="${OrderReceiveDTO}" , method="POST">
                    <input type="hidden" th:field="*{orderSupplierDetailId}"
                           th:value="${orderReceivedDetail.orderSupplierDetailId}"
                           class="form-control"/>
                    <td class="col-md-1">
                        <label th:text="${orderReceivedDetail.orderlineNumber}"></label>
                        <input hidden type="text" th:value="${currentUser.userId}"
                               th:name="user" th:id="user"
                               th:errorclass="fieldError"/>
                    </td>
                    <td class="col-md-2">
                        <label th:text="${orderReceivedDetail.article.articleName}"></label>
                    </td>
                    <td class="col-md-1">
                        <label th:text="${orderReceivedDetail.expectedQuantity}"></label>
                    </td>
                    <td class="col-md-1">
                        <label th:text="${orderReceivedDetail.deltaQuantity}"></label>
                    </td>
                    <td class="col-md-1">
                        <input th:field="*{receivedQuantity}" type="number" placeholder="Qty"
                               class="form-control" required/>
                    </td>
                    <td class="col-md-2">
                        <select class="form-control" id="locationTo" th:field="*{location}" name="location" required>
                            <option value="" selected="selected" hidden="hidden">Choose the location..</option>
                            <option th:each="location : ${locationList}"
                                    th:value="${location.locationId}"
                                    th:text="${location.locationName}"></option>
                        </select>
                        <!--                        <input  id="locationTo" name="locationTo" th:field="*{location}" th:value="${orderReceivedDetail.location}"  required/>-->
                    </td>
                    <td class="col-md-1">
                        <span th:if="${orderReceivedDetail.deltaQuantity > 0}">
                            <button type="submit" class="btn btn-success btn-sm">Save</button>
                        </span>
                        <span th:if="${orderReceivedDetail.deltaQuantity <= 0}">
                            <button type="submit" class="btn btn-success btn-sm" disabled>Save</button>
                        </span>
                    </td>
                </form>
            </tr>
            </tbody>
        </table>
        <a th:href="@{'/closeReceive/'+${orderheader.orderSupplierId}}" class="btn btn-danger "> Close Receive</a>
    </div>
</div>

<script type="text/javascript" th:src="@{/js/Orders.js}"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:include="fragments/header::Jquery"/>
</body>
</html>