<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>

    <title>Article_Supplier</title>
</head>
<body>

<div th:include="fragments/header::navbar"/>


<div align="center" style="margin: 100px">
    <div th:if="${articleSupplier.articleSupplierId == 0}">
        <h1>New Article Supplier</h1>
    </div>
    <div th:unless="${articleSupplier.articleSupplierId == 0}">
        <h1>Edit Article Supplier</h1>
    </div>
    <div th:include="fragments/header::errorMessaging"/>
    <form action="#" th:action="@{/saveArticleSupplier}" th:object="${articleSupplier}" , method="POST">
        <div class="row"></div>
        <div class="col-xl-4"></div>
        <div class="col-xl-4">
            <div class="mb-3 form-group text-start">
                <input type="hidden" th:field="*{articleSupplierId}" th:value="${articleSupplier.articleSupplierId}"
                       class="form-control"/>

                <label class="form-label fw-bold"> Supplier</label>
                <div class="row">
                    <div class="col-xl-11">
                        <select th:field="*{supplier}" class="form-select">
                            <th:block th:each="supplier : ${supplierList}">
                                <option th:text="${supplier.supplierName}" th:value="${supplier.supplierId}">
                            </th:block>
                        </select>
                    </div>
                    <div class="col-xl-1">
                        <a th:href="@{/supplier}" class="btn btn-outline-primary">
                            <i class="bi bi-truck"></i></a>
                    </div>
                </div>

            </div>

            <div class="mb-3 form-group text-start">
                <label class="form-label fw-bold"> Article</label>
                <div class="row">
                    <div class="col-xl-11">
                        <select th:field="*{article}" class="form-select" aria-label="Default select example">
                            <th:block th:each="article : ${articleList}">
                                <option th:text="${article.articleName}" th:value="${article.articleId}">
                            </th:block>
                        </select>
                    </div>
                    <div class="col-xl-1">
                        <a th:href="@{/articles}" class="btn btn-outline-primary">
                            <i class="bi bi-bag"></i></a>
                    </div>
                </div>
            </div>

            <div class="mb-3 form-group text-start">
                <label class="form-label fw-bold"> Purchase price</label>
                <input th:field="*{purchasePrice}" type="text" placeholder="Purchase price" class="form-control">
            </div>
            <div class="mb-3 form-group text-start">
                <label class="form-label fw-bold"> Sales price</label>
                <input th:field="*{salesPrice}" type="text" placeholder="Sales price" class="form-control">
            </div>
            <div class="mb-3 form-group text-start">
                <label class="form-label fw-bold"> Part number</label>
                <input th:field="*{partnr}" type="text" placeholder="Partnr" class="form-control">
            </div>
            <div class="mb-3 form-group text-center">
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="bi bi-save"></i> Save
                </button>
            </div>
        </div>


    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:include="fragments/header::Jquery"/>
</body>
</html>