<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>
    <style th:include="fragments/header::background"></style>
    <title>Mutation</title>
</head>
<body>
<!--Navbar component-->
<div th:include="fragments/header::navbar"/>
<div align="center" style="margin: 100px">

    <div th:if="${mutation.mutationId == null}">
        <h1>Mutation</h1>
    </div>
    <div th:unless="${mutation.mutationId == null}">
        <h1>Edit mutation</h1>
    </div>
    <div th:include="fragments/header::errorMessaging"/>

    <form action="#" th:action="@{/saveMutation}" th:object="${mutation}" , method="POST">
        <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <div class="mb-3 form-group text-start">
                    <input type="hidden" th:field="*{mutationId}" th:value="${mutation.mutationId}"
                           class="form-control"/>
                    <label class="form-label fw-bold"> Article</label>
                    <select th:field="*{article}" type="text" placeholder="Article" class="form-control">
                        <option value="" selected="selected" hidden="hidden" >Select article...</option>
                        <option th:each="article:${articleList}"
                                th:text="${article.articleName}"
                                th:value="${article.articleId}">
                        </option>
                    </select>
                </div>
                <div class="mb-3 form-group text-start">
                    <label class="form-label fw-bold"> Amount</label>
                    <input th:field="*{amount}" type="text" placeholder="Amount" class="form-control">
                </div>
                <div class="mb-3 form-group text-start">
                    <label class="form-label fw-bold"> Transaction type</label>
                    <select th:field="*{transactionType}" type="text" placeholder="TransactionType"
                            class="form-control">
                        <option value="" selected="selected" hidden="hidden" >Select transaction type...</option>
                        <option th:each="transactiontype:${transactiontypeList}"
                                th:text="${transactiontype.transactionTypeName}"
                                th:value="${transactiontype.transactionTypeId}">
                        </option>
                    </select>
                </div>


                <div class="mb-3 form-group text-start">
                    <label class="form-label fw-bold"> location</label>
                    <select th:field="*{location}" type="text" placeholder="Locations" class="form-control">
                        <option value="" selected="selected" hidden="hidden" >Select location...</option>
                        <option th:each="location:${locationList}"
                                th:text="${location.locationName}"
                                th:value="${location.locationId}">
                        </option>
                    </select>
                </div>



                <div class="mb-3 form-group text-start">
                    <label class="form-label fw-bold"> User</label>
                <select th:field="*{user}" type="text" placeholder="Users" class="form-control">
                    <option value="" selected="selected" hidden="hidden" >Select user...</option>
                    <option th:each="user:${userList}"
                            th:text="${user.userName}"
                            th:value="${user.userId}">
                    </option>
                </select>
                </div>


                <div class="mb-3 form-group text-center" >
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="bi bi-save"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:include="fragments/header::Jquery"/>
</body>
</html>