<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>
    <style th:include="fragments/header::background"></style>
    <title>Supplier</title>
</head>
<body>
<div th:include="fragments/header::navbar"/>


<div align="center" style="margin: 100px">

    <div align="left">
        <a th:href="@{/supplier}" class="btn btn-outline-secondary btn-sm" style="margin:20px">Back to overview</a>
    </div>

    <div th:if="${supplier.supplierId == null}">
        <h1>New Supplier</h1>
    </div>
    <div th:unless="${supplier.supplierId == null}">
        <h1>Edit Supplier</h1>
    </div>
    <div th:include="fragments/header::errorMessaging"/>

    <form action="#" th:action="@{/saveSupplier}" th:object="${supplier}" , method="POST">
        <div class="row">
            <div class="col-xl-4"></div>
            <div class="col-xl-4">
                <div class="mb-3 form-group text-start">
                    <input type="hidden" th:field="*{supplierId}" th:value="${supplier.supplierId}"
                           class="form-control"/>
                    <label class="form-label fw-bold"> Name</label>
                    <input th:field="*{supplierName}" type="text" placeholder="Supplier Name" class="form-control">
                </div>
                <div class="mb-3 form-group text-start">
                    <label class="form-label fw-bold"> Adress</label>
                    <input th:field="*{adress}" type="text" placeholder="Adress" class="form-control">
                </div>
                <div class="mb-3 form-group text-start">
                    <label class="form-label fw-bold"> City</label>
                    <select th:field="*{city}" class="form-select" aria-label="Default select example">
                        <option value="" selected="selected" hidden="hidden">Select city...</option>
                        <option th:each="city : ${citiesList}"
                                th:text="${city.cityName}"
                                th:value="${city.cityId}">
                    </select>
                </div>
                <div class="mb-3 form-group text-start">
                    <label class="form-label fw-bold"> Country</label>
                    <select th:field="*{country}" class="form-select" aria-label="Default select example">
                        <option value="" selected="selected" hidden="hidden">Select country...</option>
                        <option th:each="country : ${countriesList}"
                                th:text="${country.countryName}"
                                th:value="${country.countryId}">
                    </select>
                </div>
                <div class="mb-3 form-group text-center">
                    <button type="submit" class="btn btn-primary btn-lg">
                        <i class="bi bi-save"></i> Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:include="fragments/header::Jquery"/>
</body>
</html>

