<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>

    <meta charset="UTF-8">
    <title>Warehouses</title>
</head>
<body>

<div th:include="fragments/header::navbar"/>

<div align="center" style="margin: 100px">

    <div align="left">
        <a th:href="@{/warehouse}" class="btn btn-outline-secondary btn-sm" style="margin:20px">Back to overview</a>
    </div>

    <div class="container text-center">

        <div th:if="${warehouse.warehouseId == null}">
            <h1>New warehouse</h1>
        </div>
        <div th:unless="${warehouse.warehouseId == null}">
            <h1>Edit warehouse</h1>
        </div>
        <div th:include="fragments/header::errorMessaging"/>

        <form th:action="@{/warehouse/save}" th:object="${warehouse}" method="post">
            <div class="row">
                <div class="col-xl-4"></div>
                <div class="col-xl-4">
                    <div class="mb-3 form-group text-start">
                        <input type="hidden" th:field="*{warehouseId}" th:value="${warehouse.warehouseId}"
                               class="form-control"/>
                        <label class="form-label fw-bold"> Name</label>
                        <input type="text" placeholder="Name warehouse" th:field="*{warehouseName}" class="form-control"
                               required/>
                    </div>

                    <div class="mb-3 form-group text-start">
                        <label class="form-label fw-bold"> Winkel?</label>
                        <input class="form-check-input" type="checkbox" value=""
                               th:field="*{store}">
                    </div>

                    <div class="mb-3 form-group text-center" >
                        <button type="submit" class="btn btn-primary btn-lg">
                            <i class="bi bi-save"></i> Save
                        </button>
                    </div>
                </div>
            </div>

        </form>
    </div>

</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:include="fragments/header::Jquery"/>
</body>
</html>