<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>

    <title>category</title>
</head>
<body>
<!--Navbar component-->
<div th:include="fragments/header::navbar"/>

<div align="center" style="margin: 100px">

    <div align="left">
        <a th:href="@{/category}" class="btn btn-outline-secondary btn-sm" style="margin:20px">Back to overview</a>
    </div>

    <div th:if="${category.categoryId == null}">
        <h1>New category</h1>
    </div>
    <div th:unless="${category.categoryId == null}">
        <h1>Edit category</h1>
    </div>
    <div th:include="fragments/header::errorMessaging"/>

    <form action="#" th:action="@{/saveCategory}" th:object="${category}", method="POST" >
        <div class="row">
            <div class="col-xl-4"></div>

            <div class="col-xl-4">
            <div class="mb-3 form-group text-start">
                <input type="hidden" th:field="*{categoryId}" th:value="${category.categoryId}" class="form-control"/>
                <label class="form-label fw-bold"> Name</label>
                <input th:field="*{categoryName}" type="text" placeholder="input the category name" class="form-control" required>
            </div>
            <div class="mb-3 form-group text-start">
                <label class="form-label fw-bold"> Abbreviation</label>
                <input th:field="*{categoryAbbreviation}" type="text" placeholder="input the category abbreviation" class="form-control" required>
            </div>
            <div class="mb-3 form-group text-center" >
                <button type="submit" class="btn btn-primary btn-lg">
                    <i class="bi bi-save"></i> Save
                </button>
            </div>
            </div>
        </div>



    </form>




</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:include="fragments/header::Jquery"/>
</body>
</html>