<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--    <link rel="stylesheet" href="style.css">-->
    <title>Users</title>
    <!-- Bootstrap CSS & icons-->
    <div th:include="fragments/header::bootstrapCssAndIcons"/>
    <!--    Datatable -->
    <div th:include="fragments/header::dataTableJquery"/>
    <script>

    $(document).ready(function(){
         $('[data-toggle="tooltip"]').tooltip();
    });

    function togglediv(id) {
        var div = document.getElementById(id);
        div.style.display = div.style.display == "none" ? "block" : "none";
    }



    </script>
    <style>
        #changePassword{display:none;}



    </style>

</head>
<body>
<!--Navbar component-->
<div th:include="fragments/header::navbar"/>

<div align="center" style="margin: 100px">

    <div th:if="${userDto.userId == null}">
        <h1>New User</h1>
    </div>
    <div th:unless="${userDto.userId == null}">
        <h1>Edit User</h1>
    </div>
    <div th:include="fragments/header::errorMessaging"/>

    <form th:action="@{/saveUser}"
          th:object="${userDto}" , method="POST"
          enctype="multipart/form-data">
        <div class="row">
            <div class="col-xl-2">
            </div>
            <div class="col-xl-4">
                <div class="mb-3 form-group text-start">
                    <input type="hidden" th:field="*{userId}" th:value="${userDto.userId}" class="form-control"/>
                    <label for="userName" class="form-label">Username</label>
                    <input th:field="*{userName}" type="text" placeholder="Username" class="form-control"
                           id="userName" th:readonly="${isDisabled}">
                </div>
                <div class="mb-3 form-group text-start" th:if="${userDto.userId==null}">
                    <label for="userPassword" class="form-label"> New password</label>
                    <input th:field="*{password}" type="password" placeholder="new password"
                           class="form-control" id="userPassword"/>
                </div>
                <div class="mb-3 form-group text-start">
                    <div class="row" th:unless="${userDto.userId == null}">
                        <div class="col-xl-6">
                            <label for="assignedRoles">Assigned roles</label>
                            <table id="assignedRoles" class="table table-striped table-hover dataTable">
                                <thead>
                                <th scope="col">Assigned roles</th>
                                <th scope="col" th:if="${!isDisabled}">Actions</th>
                                </thead>
                                <tbody>
                                <tr th:each="role, itemStat : *{roles}">
                                    <!--        <td th:text="${user.userId}"></td>-->
                                    <td th:text="${role.name}" th:field="*{roles[__${itemStat.index}__].name}"></td>
                                    <td th:if="${!isDisabled}">
                                        <a th:href="@{'/unassignRole/' + ${userDto.userId}+'/'+ ${role.id}}" id="unassignRole"
                                                class="btn btn-outline-warning" >
                                            <i class="bi bi-trash"></i> Unassign role
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xl-6">
                            <label for="notAssignedRoles">Unassigned roles</label>
                            <table id="notAssignedRoles" class="table table-striped table-hover dataTable">
                                <thead>
                                <th scope="col">Unassigned roles</th>
                                <th scope="col" th:if="${!isDisabled}">Actions</th>
                                </thead>
                                <tbody>
                                <tr th:each="role: ${userNotRoles}">
                                    <td th:text="${role.name}" th:value="role.id"></td>
                                    <td th:if="${!isDisabled}">
                                        <a th:href="@{'/assignRole/' + ${userDto.userId}+'/'+ ${role.id}}"
                                                class="btn btn-outline-primary" id="assignRole" >
                                            <i class="bi bi-plus"></i> Assign role
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row" th:if="${userDto.userId==null}">
                        <h2>Please save the new user before assigning roles.</h2>
                    </div>
                </div>
                <div class="mb-3 form-group text-start" th:unless="${userDto.userId==null}">
                    <button onclick="togglediv('changePassword')" type="button" class="btn btn-outline-primary" th:disabled="${isDisabled}">Modify
                        password
                    </button>
                </div>
                <div id="changePassword" th:unless="${userDto.userId==null}">

                    <div class="mb-3 text-start">
                        <label for="currentPassword">Current password</label>
                        <input id="currentPassword" type="password" class="form-control" th:field="*{password}" th:readonly="${isDisabled}"/>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="newPassword1stTry">New password</label>
                        <input id="newPassword1stTry" type="password" class="form-control" th:field="*{newPassword}" th:readonly="${isDisabled}"
                               data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Conditions for password:
                               - Must have at least one numeric character
                               - Must have at least one lowercase character
                               - Must have at least one uppercase character
                               - Must have at least one special symbol among @#$%
                               - Password length should be between 8 and 20"/>
                    </div>
                    <div class="mb-3 text-start">
                        <label for="newPassword2ndTry">Confirm new password</label>
                        <input id="newPassword2ndTry" type="password" class="form-control" th:field="*{confirmPassword}" th:readonly="${isDisabled}"
                               data-bs-toggle="tooltip" data-bs-placement="right"
                               title="Conditions for password:
                               - Must have at least one numeric character
                               - Must have at least one lowercase character
                               - Must have at least one uppercase character
                               - Must have at least one special symbol among @#$%
                               - Password length should be between 8 and 20"/>
                    </div>
                </div>

            </div>
            <div class="col-xl-4">
                <div class="bg-image hover-overlay ripple">
                    <img th:src="@{${'/user/image/'+userDto.userId}}"
                         alt="Not Found"
                         onerror="this.src='https://www.stevensegallery.com/500/500';"
                         class="img-fluid rounded" id="userImage"
                         style="object-fit:contain;
                         width:500px;
                         height:500px;
                         border: solid 1px #CCC"
                    />
                </div>
                <div class="p-2">
                    <label for="userImg">Select image:</label>
                    <input type="file" id="userImg" name="image" accept="image/png, image/jpeg"
                           th:disabled="${isDisabled}">
                </div>
            </div>
            <div class="row">
                <div class="col-xl-2">
                </div>
                <div class="col-xl-4">
                    <div class="row">
                        <div align="center">
                            <button type="submit" class="btn btn-primary btn-lg" th:disabled="${isDisabled}">
                                <i class="bi bi-save"></i> Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<div th:include="fragments/header::Jquery"/>

</body>
</html>