<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/accessDeniedStyle.css}">
</head>
<body>
<h1>403</h1>
<div><p>> <span>ERROR CODE</span>: "<i>HTTP 403 Forbidden</i>"</p>
    <p>> <span>ERROR DESCRIPTION</span>: "<i>Access Denied. <span sec:authentication="name" class="text-warning">Username</span> Does Not Have The Permission To Access This Page On This Server</i>"</p>
    <p>> <span>ERROR POSSIBLY CAUSED BY</span>: [<b>Access Forbidden Due To Insufficient Rights (Roles) Assigned To Your Account To Access This Part Of The Application. </b>...]</p>
    <p>> <span>YOU DO HOWEVER HAVE ACCESS TO OUR HOME PAGE :)</span>: [<a th:href="@{'/home'}">Home Page</a>]</p>
</div>

<script type="text/javascript" th:src="@{/js/accessDenied.js}"></script>
</body>
</html>